*{
   
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
header{
    height:100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.098);
  backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main{
    height:  calc(100vh - 100px);
    
    display: flex;
    align-items: center;
    justify-content: center;
  background: linear-gradient(-45deg, #2f5d5d, #1e3a3a, #224444, #183333);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
  color: white;
    
    
}.input-container{
   
   padding: 10px 14px;
  border-radius: 20px;

  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(8px);

  display: flex;
  gap: 10px;

}#finder {
  width: 260px;
  padding: 12px 18px;

  border-radius: 999px; /* pill */
  border: none;
  outline: none;

  font-size: 15px;

  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  transition: 0.2s;
}#button {
  padding: 12px 22px;

  border-radius: 999px;
  border: none;

  font-weight: 600;
  cursor: pointer;

  background: white;

  transition: 0.1s;
}#button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 7px rgba(0,0,0,0.25);
}

.weather-container{
    display: flex;
   gap: 2rem;
   background: rgba(255, 255, 255, 0.182);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.25);
    
    padding: 60px;
    border: 3px solid white;
    border-radius: 20px;
    border-style: solid;
    


}.temperature {
  font-size: 60px;
  font-family:"Space Grotesk" ;
  
}

.location {
  font-size: 26px;font-family:"Josefin Sans" ;
}

.condition {
  font-size: 20px;
  font-family:"Josefin Sans"
}.location-data span {
  font-size: 20px;
  opacity: 0.8;
  font-family:"Space Grotesk" ;
}

#finder{
    border: 0;
    padding: 7px;
    border-radius: 10px;
   
    margin-right: 20px;
}#button{
    border: 0;
    background-color: white;
   
    border-radius: 5px;

}#finder:focus {
  box-shadow: 0 0 0 3px rgba(77,208,225,0.5);
  width: 340px;
}#finder:hover{
      box-shadow: 0 0 0 3px rgba(6, 168, 190, 0.887);
     width: 340px;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}