*{
    border-radius: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
header{
    height:100px;
    width: 100%;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
main{
    height:  calc(100vh - 100px);
    background-color:darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}.input-container{
    display: flex;
   
    gap:1rem ;
    padding: 20px;
}.weather-container{
    display: flex;
   gap: 1rem;
  
    border: 1px;
    
    border-style: solid;
    
}#finder{
    border: 0;
    padding: 7px;
    border-radius: 10px;
    transform: scale(1.12);
    margin-right: 20px;
}#button{
    border: 0;
    background-color: white;
    transform: scale(1.3);
    border-radius: 5px;
}